@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.form-group{
  padding: 0.5rem 0;
}
.form-group label{
  color: white;
}
.form-group > input{
  padding: 0.3rem;
  width: 100%;
  margin: auto;
}